body {

}

h1 {
	color: #1D3557;
	text-align: center;
}

p {

}

#newCampgroundInput {
	width: 30%;
	margin: 35px auto;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
}

#delete-form {
	display: inline;
}